<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<!-- FLASH MESSAGES START -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div style="margin: 20px 0;">
    {% for category, message in messages %}
    <div style="padding: 15px; margin-bottom: 10px; border-radius: 5px;
                    background-color: {{ 'lightblue' if category == 'info' else '#d4edda' if category == 'success' else '#f8d7da' }};
                    color: {{ 'black' if category == 'info' else '#155724' if category == 'success' else '#721c24' }};
                    border: 1px solid transparent;">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<!-- FLASH MESSAGES ENDE -->

<div style="margin-bottom: 20px;">
    <span>Order by:</span>
    <a href="{{ url_for('home', sort_by='title') }}">Title</a>
    <a href="{{ url_for('home', sort_by='author') }}">Author</a>
</div>

<form action="{{ url_for('home') }}" method="GET" style="margin-bottom: 20px;">
    <input type="text" name="search" placeholder="Search for Title or Author."
           value="{{ request.args.get('search', '') }}">
    <button type="submit">Search</button>
    <a href="{{ url_for('home') }}">Reset</a>
</form>

{% if books %}
{% for book in books %}
<div style="margin-bottom: 20px; display: flex; align-items: center;">
    <img src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg"
         alt="Cover für {{ book.title }}"
         style="width: 100px; height: auto; margin-right: 15px; border-radius: 4px;">

    <div>
        <h3>{{ book.title }}</h3>
        <p>Autor: {{ book.author.name }}</p>
        <small>ISBN: {{ book.isbn }}</small>
        <form action="{{ url_for('delete_book', book_id=book.id) }}" method="POST"
              onsubmit="return confirm('Delte this book?');">
            <button type="submit" style="color: red;">Delete book</button>
        </form>
    </div>
</div>
{% endfor %}
{% else %}
<p>Sorry there are no books like: "<strong>{{ request.args.get('search') }}</strong>".</p>
<a href="{{ url_for('home') }}">Show all books</a>
{% endif %}

</body>
</html>